* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  background: #000 !important;
}
nav a {
  color: #000 !important;
  font-family: "Syne", sans-serif;
  font-size: 17px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.about {
  overflow: hidden;
  padding: 80px 0px;
}
.about .about-img {
  height: 580px;
}
.about .about-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .about .about-img {
    height: 350px;
  }
}
.about h1 {
  font-family: cinzel;
  font-style: normal;
  font-size: 48px;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 40px;
  color: #AB2222;
}
.about h6 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #000;
  font-style: normal;
  font-weight: 300;
}
.about h6 span {
  font-weight: 700;
  display: block;
  font-size: 22px;
  color: #AB2222;
  padding-bottom: 13px;
}
.about p {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.about button {
  background: #AB2222;
  padding: 5px 14px;
  border: none;
}
.about button a {
  color: #fff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.history {
  overflow: hidden;
  padding: 50px 0px;
}
.history h1 {
  font-family: Cinzel;
  font-weight: 500;
  font-style: normal;
  font-size: 46px;
  color: #AB2222;
  margin: 0px;
  padding-bottom: 30px;
}
.history p {
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  font-family: "Lato", sans-serif;
}

.dreams {
  overflow: hidden;
  padding: 50px 0px;
}
.dreams h2 {
  font-family: Cinzel;
  font-size: 51px;
  font-weight: 500px;
  color: #AB2222;
  font-style: normal;
  line-height: normal;
  margin: 0px;
  padding-bottom: 20px;
}
.dreams p {
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  color: #000;
  font-family: "Lato", sans-serif;
}
.dreams button {
  background-color: #AB2222;
  padding: 5px 20px;
  border: none;
}
.dreams button a {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.amenities {
  overflow: hidden;
  padding: 50px 0px;
  background-color: #eeefeb;
}
.amenities img {
  align-self: center;
  height: 90px;
  filter: grayscale(30);
}
.amenities h6 {
  color: #53626a;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.amenities h2 {
  font-size: 56px;
  color: #AB2222;
  font-weight: 500;
  font-family: Cinzel;
  line-height: normal;
  margin: 0px;
}
.amenities p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #53626a;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.gallery {
  overflow: hidden;
  padding: 50px 0px;
  background-color: #000;
}
.gallery h2 {
  font-size: 76px;
  font-weight: 500;
  font-family: Cinzel;
  line-height: normal;
  margin: 0px;
}

.floor {
  padding: 50px 0px;
}
.floor h2 {
  font-size: 56px;
  font-weight: 500;
  font-family: Cinzel;
  line-height: normal;
  margin: 0px;
  padding-bottom: 30px;
}
.floor .nav-pills .nav-link.active, .floor .nav-pills .show > .nav-link {
  color: #fff;
  background: #AB2222;
}
.floor .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 21px !important;
  font-weight: var(--bs-nav-link-font-weight);
  color: #000;
  font-family: Cinzel;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.floor .nav-link:hover {
  color: #000;
}
.floor h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: Cinzel;
  line-height: normal;
  margin: 0px;
}

.location {
  overflow: hidden;
  padding: 70px 0px;
}
.location h2 {
  font-size: 56px;
  color: #AB2222;
  font-weight: 500;
  font-family: Cinzel;
  line-height: normal;
  margin: 0px;
}
.location p {
  margin: 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #53626a;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.location h3 {
  font-size: 36px;
  color: #000;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: normal;
  margin: 0px;
  padding-bottom: 30px;
}
.location h6 {
  font-size: 22px;
  color: #000;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: normal;
}

footer .foot {
  background-color: #000;
}
footer .foot h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
footer button {
  background-color: #fff;
  padding: 5px 30px;
}
footer button a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #000;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.form {
  padding: 80px;
  border-radius: 0px 0px 30px 30px;
  background: #D9D9D9;
  box-shadow: 0px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
}
.form h1 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  border: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
.form input {
  width: 100%;
  padding: 8px;
  border-radius: 0.864px;
  border: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
.form select {
  width: 100%;
  padding: 8px;
  border-radius: 0.864px;
  border: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
.form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 0.864px;
  border: #000;
  height: 180px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
.form button {
  padding: 7px 30px;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
  border: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  background-color: #AB2222;
}/*# sourceMappingURL=style.css.map */